/* Import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
/* CSS Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* CSS Reset */

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
/* header */
header {
  background-color: var(--very-pale-cyan);
  height: 720px;
  background-image: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
.head {
  padding: 50px 80px 70px;
  height: 50px;
}

.head-container {
  display: flex;
  flex-direction: row;
  margin: 0 90px 70px 80px;
}
.head-container-text {
  width: 45%;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}
.subtitle1 {
  margin-top: 100px;
}
.subtitle2 {
  margin-bottom: 50px;
}
.head-container-desription {
  line-height: 1.5;
  padding-right: 60px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.head-container-image {
  width: 55%;
}
.mockup1 {
  width: 100%;
  height: auto;
}

/* body */
.body {
  margin: 160px 105px 200px;
}
.body-container {
  display: flex;
  flex-direction: row;
  padding-right: 40px;
  padding-left: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.body-container:nth-child(1) {
  flex-direction: row-reverse;
}
.body-container:nth-child(3) {
  flex-direction: row-reverse;
}

.body-container-image {
  width: 50%;
  float: right;
}
.illustration {
  width: 100%;
  height: auto;
}
.body-container-paragraph {
  width: 40%;
  float: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.null {
  width: 10%;
}
.body-container-title {
  margin-bottom: 30px;
}
.body-container-text {
  line-height: 1.5;
  color: var(--grayish-blue);
}
h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
/* Window */
.window {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 280px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: -120px;
}

.top-question {
  font-size: 25px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 50px;
}
/* Footer */
footer {
  display: flex;
  flex-direction: row;
  background-color: var(--very-dark-cyan);
  min-height: 420px;
  color: white;
  padding: 140px 80px 70px 120px;
  font-size: 15px;
  line-height: 1.7;
}
.footer-logo {
  margin-bottom: 40px;
}
.footer-row-1 {
  width: 40%;
  height: auto;
  padding-right: 60px;
}
.footer-row-2 {
  display: flex;

  align-items: center;
  width: 20%;
}
.footer-row-3 {
  display: flex;

  align-items: center;
  width: 20%;
}
.link:hover {
  text-decoration: underline;
}
.footer-row-4 {
  width: 20%;
  text-align: center;
  flex-direction: column;
}

li {
  margin-bottom: 13px;
}

/* Social icon */
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.social-icon {
  font-size: 15px;

  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: white;
  margin: 0 6px;
  transition: 0.5s;
  text-decoration: none;
  color: white;
  border-radius: 50%;

  border: 3px solid white;
}

.social-icon:hover {
  border: 3px solid var(--pink);
  color: var(--pink);
}

.copyright {
  font-size: 10px;
  margin-top: 60px;
}
/* buttons */
.btn1 {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 1px 1px 5px #666666;
  -moz-box-shadow: 1px 1px 5px #666666;
  box-shadow: 1px 1px 5px #666666;
  width: 200px;
  height: 50px;
  color: grey;
  float: right;
  font-weight: bold;
  font-size: 13px;
  background: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn1:hover {
  text-decoration: none;
}

.btn2 {
  -webkit-border-radius: 60;
  transition: 0.5s;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 2px 3px 7px #666666;
  -moz-box-shadow: 2px 3px 7px #666666;
  box-shadow: 2px 3px 7px #666666;
  font-weight: 700;
  width: 280px;
  height: 60px;
  color: black;
  font-size: 15px;
  background: white;
  padding: auto auto;
  text-decoration: none;
}

.btn2:hover {
  background: var(--pink);
  color: white;
  text-decoration: none;
}

.btn3 {
  -webkit-border-radius: 60;
  transition: 0.5s;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 2px 3px 7px #666666;
  -moz-box-shadow: 2px 3px 7px #666666;
  box-shadow: 2px 3px 7px #666666;
  font-weight: 700;
  width: 400px;
  height: 80px;
  color: black;
  font-size: 20px;
  background: white;
  padding: 30px 40px 30px 40px;
  text-decoration: none;
}

.btn3:hover {
  background: var(--pink);
  color: white;
  text-decoration: none;
}
/* Media queries */
@media only screen and (max-width: 800px) {
  header {
    height: auto;
    background-image: url(images/bg-hero-mobile.svg);
  }
  .head {
    padding: 10%;
  }
  .logo-top {
    width: 40%;
  }
  .btn1 {
    width: 150px;
    height: 40px;
  }
  .head-container {
    width: 90%;
    padding-right: auto;
    padding-left: auto;
    display: flex;
    flex-direction: column;
    margin: 5%;
  }
  .head-container-text {
    text-align: center;
    width: 100%;
  }
  .head-container-image {
    margin-top: 50px;
    width: 100%;
  }
  .body {
    margin: 5%;
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .body-container:nth-child(1) {
    flex-direction: column;
  }
  .body-container:nth-child(3) {
    flex-direction: column;
  }
  .body-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 30px 0 30px 0;
    width: 90%;
  }
  .null {
    width: 0;
    height: 0;
  }
  .body-container-paragraph {
    width: 90%;
    padding: 5%;
    margin: 5%;
  }
  .body-container-image {
    width: 90%;
    padding: 5%;
    margin: 5%;
  }

  /* window */
  .window {
    width: 90%;
  }
  .btn3 {
    width: 70%;
  }

  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 160px 10% 15%;
  }

  .footer-row-1 {
    width: 100%;
    padding: 10%;
  }
  .footer-row-2 {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .footer-row-3 {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .footer-row-4 {
    width: 100%;
  }
}
